page-startup {
    ion-content {
        background-image: url('../assets/imgs/handyman.jpg');
       background-position: center;
       background-size: contain;
       background-repeat: no-repeat;
   }

   .btn_sub{
    background: #000046;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1CB5E0, #000046);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1CB5E0, #000046); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
   }
}

    .overlay {
        width: 100%;
    height: 100vh;
    background-color: #000;
    opacity: 0.5;
    left: 0;
    top:0;
    position: absolute;
    }
